<div class="container">
  <div class = "film-list">
    <mat-list >
      <mat-list-item *ngFor="let film of films[0].Search">
        <img [src]="film.Poster"  (click)="showDetail(film.imdbID)" alt="film-poster">
        <app-film-item [filmId]="film.imdbID"></app-film-item>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="film-details">
    <app-film-details
    *ngIf="selectedFilm; else infoText"
    [filmId]="filmId"></app-film-details>
    <ng-template #infoText>
      <p>Please select a film!</p>
    </ng-template>
  </div>
</div>

